source "Kconfig.zephyr"

menu "MouseV2-nRF project settings"

config PRJ_POWER_ONOFF_HOLD_TIME
  int "Turn on/off button hold time (ms)"
  default 1000
  help
    A number of milliseconds the mode button has to be held
    to power the device on or off.

config PRJ_BAT_MEASUREMENT_PERIOD
  int "Battery measurement & reporting periodicity (ms)"
  default 60000

config PRJ_FLASH_ON_BOOT
  bool "Flash green led on boot"
  default n

config PRJ_BT_DIRECTED_ADVERTISING
  bool "Enable directed advertising"
  default y

config PRJ_BT_FIXED_PASSKEY_VALUE
  int "Fixed pairing passkey"
  range 0 999999
  default 181402
  depends on BT_FIXED_PASSKEY
  help
    The device will pretend to be of DisplayOnly type,
    and "display" fixed passkey to be entered on a peer.

config PRJ_LUA_SCRIPT_NAME
  string "Lua script filename"
  default "boot.lua"
  help
    Lua script containing user-defined event handlers.

config PRJ_LUA_WORKER_HEAP_SIZE
  int "Lua worker heap size"
  default 16384

config PRJ_LUA_WORKER_THREAD_STACKSIZE
  int "Lua worker thread stack size"
  default 4096

config PRJ_LUA_WORKER_THREAD_PRIORITY
  int "Lua worker thread priority"
  default 7


endmenu
