config APP_HID_SOURCE_INIT_PRIORITY
  int "HID sources init priority (shared)"
  default 15

config APP_HID_SOURCE_BUTTONS_PRIORITY
  int "Buttons HID source priority"
  range 0 9
  default 3

config APP_HID_SOURCE_ENCODER_PRIORITY
  int "Encoder HID source priority"
  range 0 9
  default 5

config APP_HID_SOURCE_OPT_SENSOR_PRIORITY
  int "Optical sensor HID source priority"
  range 0 9
  default 1
