# Copyright (c) 2021 Taras Radchenko
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_MOUSEV2=y

# Configure reset & NFC pins as regular GPIOs
CONFIG_NFCT_PINS_AS_GPIOS=y
CONFIG_GPIO_AS_PINRESET=n

# Enable DC/DC converter
CONFIG_BOARD_ENABLE_DCDC=y

# Enable MPU & hardware stack protection
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
