# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_MOUSEV2

config BOARD
	default "mousev2"

config BT_CTLR
   default BT

# Use NFC & reset pins as regular GPIOs
config NFCT_PINS_AS_GPIOS
   default y
config GPIO_AS_PINRESET
   default n

endif
