rsource "hid/Kconfig"

config APP_BOOTOPTS_INIT_PRIORITY
  int "Boot options init priority"
  default 10
  help
    Init priority for boot options detection.
    No dependencies to other services.

config APP_BATTERY_MEAS_THREAD_STACK_SIZE
  int "Battery measurement thread stack size"
  default 1024

config APP_BATTERY_MEAS_THREAD_PRIORITY
  int "Battery measurement thread priority"
  default 13
  help
    Apparently the priority of this thread has to be
    higher than the prio of logging or shell_rtt threads.
    It seems that otherwise this thread is blocked
    until the shell is connected.

config APP_BATTERY_MEAS_PERIOD_SEC
  int "Battery measurement period (seconds)"
  default 120

config APP_BUTTON_MODE_INIT_PRIORITY
  int "Mode button init priority"
  default 95
  help
    This should be the last step of initialization.
    Successfull boot is signalled to the user with
    current battery level information.

config APP_DEBOUNCE_NUM_SHIFTS
  int "Value of parameter N, see debounce.c"
  default 5

config APP_DEBOUNCE_TIMER_PERIOD
  int "Value of parameter T (in microseconds), see debounce.c"
  default 1000
