# Copyright (c) 2019 Nordic Semiconductor
# SPDX-License-Identifier: Apache-2.0

menuconfig ADNS7530
	bool "ADNS-7530 optical motion sensor"
	depends on GPIO && SPI
	help
	  Enable driver for PixArt ADNS-7530 SPI-based optical motion sensor.

if ADNS7530

config ADNS7530_SURF_QUAL_THRESHOLD
	int "Surface quality threshold"
	range 0 242
	default 120
	help
	  Readings indicating surface quality lower than the given threshold are ignored.

endif # ADNS7530
